<div class="details-nav">
  <div class="hide-details">CLOSE</div>
</div>

<img src="<%=listing.get("main_picture")%>" alt="doghouse" />

<div class="info">
  <div class="street">
    <%= listing.fullStreet() %>
  </div>
  <div class="city-state-zip">
    <%= listing.cityStateZip() %>
  </div>

  <br>

  <div class="listing-type">
    <% if (listing.get("listing_type") === "rent") { %>
      FOR RENT
    <% } else { %>
      FOR SALE
    <% } %>
  </div>
  <div class="price">
    <%= listing.prettyPrice() %>
  </div>

  <br>

  <div class="description">
    <%= listing.escape("description") %>
  </div>

  <br>
</div>
