<!DOCTYPE html>
<html>
<head>
  <title>Diggable</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js"></script>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
  <link rel="icon" href="/images/favicon.png" type="image/png">
</head>
<body>
  <% if flash[:errors] %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <%= flash[:errors].join("<br>").html_safe %>
    </div>
  <% end %>

  <%= yield %>

</body>
</html>
